{% extends 'base/base.html' %}

{% block title %}Home - Property Valuation SaaS{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="display-4">Property Valuation SaaS</h1>
        <p class="lead">Professional property valuation using statistical models</p>
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Properties</h5>
                        <p class="card-text">Manage your property database</p>
                        <a href="#" class="btn btn-primary">View Properties</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Models</h5>
                        <p class="card-text">Create valuation models</p>
                        <a href="#" class="btn btn-primary">View Models</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reports</h5>
                        <p class="card-text">Generate valuation reports</p>
                        <a href="#" class="btn btn-primary">View Reports</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}